.btn {
    max-width: 50%;
    background-color: $grey;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;

    &--red {
        background-color: $color-primary;
    }

    &--centered {
        align-self: center;
        width: 50%;
    }

    &[disabled] {
        color: $grey;
        background-color: transparent;
        border: 1px solid grey;
    }

    &:not([disabled]) {
        cursor: pointer;

        &:hover:after {
            content: "";
            background-color: white;
            opacity: 0.2;
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: -1px;
            right: -1px;
            z-index: 1;
        }
    }
}
