// Informations about posts and comments (author, date...)
.info {
    display: flex;
    justify-content: space-between;

    &__author {
        font-weight: bold;

        &::before {
            content: "par ";
            font-weight: normal;
        }
    }

    &__date {
        font-style: italic;
    }
}
