.post {
    &__textarea {
        width: 100%;
    }

    &__image {
        width: 100%;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }

    &__like {
        &--liked {
            color: red;
        }
    }

    &__modify {
        display: flex;
    }
}