.post {
    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__user {
        font-weight: bold;

        &::before {
            content: 'par ';
            font-weight: normal;
        }
    }
}